.description {
  color: #f1f5f9;
  font-size: 20px;
  font-family: 'Roboto';
  padding-left: 17px;
  padding-bottom: 10px;
}

.input-style1 {
  height: 25px;
  width: 25px;
}

.Employment-button {
  background-color: transparent;
  height: 25px;
  width: 26px;
  border: 0px solid;
}
