@media screen and (max-width: 576px) {
  .over-all-container {
    background-color: #000000;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form-container {
    background-color: #272727;
    height: 75%;
    width: 70%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }

  .website-logo {
    padding-top: 10px;
    height: 60px;
    width: 60px;
    align-self: center;
  }

  .label-para {
    color: #f1f5f9;
    font-size: 18px;
    font-family: 'Roboto';
    padding-left: 30px;
    padding-top: 20px;
  }
  .Input-style {
    background-color: transparent;
    height: 30px;
    width: 170px;
    border: 1px #b6c5ff solid;
    border-radius: 5px;
    color: #7e858e;
    font-size: 15px;
    padding-left: 30px;
    margin-left: 30px;
    margin-top: 20px;
  }
  .login-button {
    background-color: #4f46e5;
    height: 30px;
    width: 170px;
    border-radius: 10px;
    border: 0px solid;
    color: #f1f5f9;
    font-size: 20px;
    font-family: 'Roboto';
    margin-top: 20px;
    margin-left: 30px;
  }
  .Error-msg {
    color: #ff0b37;
    font-size: 15px;
    font-family: 'Roboto';
  }
}

@media screen and (min-width: 576px) {
  .over-all-container {
    background-color: #000000;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form-container {
    background-color: #272727;
    height: 60%;
    width: 60%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }

  .website-logo {
    height: 40px;
    width: 120px;
    align-self: center;
    padding-top: 10px;
  }

  .label-para {
    color: #f1f5f9;
    font-size: 20px;
    font-family: 'Roboto';
    padding-left: 30px;
    padding-top: 10px;
    font-weight: bold;
  }
  .Input-style {
    background-color: transparent;
    height: 40px;
    width: 200px;
    border: 1px #b6c5ff solid;
    border-radius: 5px;
    color: #7e858e;
    font-size: 17px;
    margin-top: 10px;
    margin-left: 30px;
    padding-left: 20px;
  }
  .login-button {
    background-color: #4f46e5;
    height: 40px;
    width: 200px;
    border-radius: 10px;
    border: 0px solid;
    color: #f1f5f9;
    font-size: 20px;
    font-family: 'Roboto';
    margin-top: 20px;
    margin-left: 30px;
  }
  .Error-msg {
    color: #ff0b37;
    font-size: 15px;
    font-family: 'Roboto';
  }
}

@media screen and (min-width: 768px) {
  .over-all-container {
    background-color: #000000;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form-container {
    background-color: #272727;
    height: 68%;
    width: 40%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding-left: 40px;
  }

  .website-logo {
    height: 90px;
    width: 150px;
    align-self: center;
  }

  .label-para {
    color: #f1f5f9;
    font-size: 23px;
    font-family: 'Roboto';
    padding-top: 15px;
    font-family: 'Roboto';
  }
  .Input-style {
    background-color: transparent;
    height: 50px;
    width: 300px;
    border: 1px #b6c5ff solid;
    border-radius: 5px;
    color: #7e858e;
    font-size: 22px;
    margin-top: 10px;
    padding-left: 20px;
    margin-left: 30px;
  }
  .login-button {
    background-color: #4f46e5;
    height: 50px;
    width: 300px;
    border-radius: 10px;
    border: 0px solid;
    color: #f1f5f9;
    font-size: 20px;
    font-family: 'Roboto';
    margin-top: 20px;
    margin-left: 30px;
  }
  .Error-msg {
    color: #ff0b37;
    font-size: 18px;
    font-family: 'Roboto';
  }
}
